# Python Lesson
## Introduction
Das ist eine **Python**-*Einf√ºhrung*

In [3]:
print("Hello world!")

Hello world!

In [4]:
name = "Lovelace"

In [5]:
print(name)

Lovelace

In [6]:
name

'Lovelace'

In [7]:
age = 73

In [8]:
print(age)

73

In [9]:
size = 1.73123

In [10]:
print(size)

1.73123

In [11]:
know_math = True
print (know_math)
likes_slaking = False
print (likes_slaking)

True
False

In [12]:
type(name)

str

In [13]:
type(age)

int

In [14]:
type(size)

float

In [15]:
5 + 5

10

In [16]:
age * 100

7300

In [17]:
name + name

'LovelaceLovelace'

In [18]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [19]:
age + size

74.73123

In [20]:
size / age

0.023715479452054794

In [21]:
my_result = size / age

In [23]:
print(my_result)

0.023715479452054794

In [24]:
age = "73"

In [25]:
age = int(age)

In [26]:
type(age)

int

In [27]:
age

73

## Funktionen und Methoden nutzen

In [29]:
name

'Lovelace'

In [30]:
len(name)

8

In [31]:
name.upper()

'LOVELACE'

In [33]:
name.count("e")

2

In [36]:
name.replace("lace", " is everywhere")

'Love is everywhere'

## Listen und Dictionaries

In [37]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [38]:
names[2]

'Curie'

In [40]:
names[0]

'Lovelace'

In [41]:
names[3]

'Hawking'

In [42]:
names[-1]

'Hawking'

In [43]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [44]:
names[2:]

['Curie', 'Hawking']

In [45]:
print(names[:2])
print(names[2:])

['Lovelace', 'Darwin']
['Curie', 'Hawking']

In [46]:
authors_and_birth_years = {"Lovelace": 1882, 
                           "Darwin": 1809, 
                          "Hawking": 1942}

In [47]:
authors_and_birth_years["Lovelace"]

1882

## for-Schleife

In [48]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [51]:
for name in names:
    print(name)
print("-----")

Lovelace
Darwin
Curie
Hawking
-----

In [52]:
authors_and_birth_years

{'Lovelace': 1882, 'Darwin': 1809, 'Hawking': 1942}

In [54]:
for key, value in authors_and_birth_years.items():
    print(key, value)

Lovelace 1882
Darwin 1809
Hawking 1942

In [57]:
for key, value in authors_and_birth_years.items():
    print(key)
    print(value)

Lovelace
1882
Darwin
1809
Hawking
1942

In [68]:
for key, value in authors_and_birth_years.items():
    print(key, "was born in", value,".")

Lovelace was born in 1882 .
Darwin was born in 1809 .
Hawking was born in 1942 .

In [71]:
for key, value in authors_and_birth_years.items():
    print(key + " was born in " + str(value) + ".")

Lovelace was born in 1882.
Darwin was born in 1809.
Hawking was born in 1942.

## Bedingte Anweisungen (Conditionals)

In [76]:
temp = 20
if temp > 15:
    print("It¬¥s warm")

It¬¥s warm

In [74]:
temp > 15

True

In [85]:
temp = 15
if temp > 15:
    print("It¬¥s warm")
else:
    print("It¬¥s cold")

It¬¥s cold

In [86]:
temp = 8
if temp == 15:
    print("It¬¥s warm")
else:
    print("It¬¥s cold")

It¬¥s cold

In [91]:
temp = 32
if temp >= 25:
    print("It¬¥s hot")
elif temp >= 15:
    print("It¬¥s warm")
else:
    print("It¬¥s cold")

It¬¥s hot